.container-cartitem {
  border-radius: 15px;
  background-color: $bg-light;
  width: 400px;
  .card-image-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .body-cartitem {
    flex-direction: row;
    gap: 30px;
    .body-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;
    }
    .body-operators {
      display: flex;
      flex-direction: column;
      gap: 20px;
      i {
        font-size: 36px;
      }
    }
  }
}