.navbar-expand-md {
  background-color: $bg-gray;
  
  .navbar-collapse {
    justify-content: flex-end;
    
    .navbar-nav {
      gap: 30px;
      
      .nav-link {
        color: $bg-light;
        &:hover {
          color: $bg-green !important;
        }
        &:focus {
          color: $bg-green;
        }
      }
      
      /*.active {
        color: $bg-green !important;
      }*/
      
    }
    
  }
}